<h1 class="font-bold">Mythologies</h1>

<table class="table-auto">
  <thead>
    <tr>
      <th></th>
      <th>Mythology</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @mythologies.each do |m| %>
      <tr>
        <td  class="px-4"><%= m.id.to_s + '. ' + m.name %></td>
        <td><%= m.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Generate a Story", new_story_path, 
            class: "px-4 py-4 bg-green-500 hover:bg-green-700 rounded" %>
<%= link_to "List of Stories", stories_path, id: "stories",
            class: "px-4 py-4 bg-green-500 hover:bg-green-700 rounded" %>
<%= link_to "New Mythology", new_mythology_path, 
            class: "px-4 py-4 bg-green-500 hover:bg-green-700 rounded" %>
