<h1>New Story</h1>
<%= simple_form_for @story do |f| %>
  <% if f.object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(f.object.errors.count, "error") %> prohibited this story from being saved:</h2>
      <ul>
        <% f.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.input :mythology_id, collection: @mythologies, label_method: :name, value_method: :id,
    label_html: { style: 'margin-right: 15px;' },
    input_html: { style: 'margin-bottom: 15px' } %>
    <%= f.input :title, label_html: { style: 'margin-right: 49px;' } %>
    <%= f.hidden_field :body, input_placeholder: 'AI will generate this' %>
    <div style="margin-top: 20px;">
      <%= f.submit class: 'border font-bold py-2 px-4 rounded', style: 'display: block;' %>
    </div>
  </div>
<% end %>
