<h1>New Story</h1>
<%= simple_form_for @story do |f| %>
  <% if f.object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(f.object.errors.count, "error") %> prohibited this story from being saved:</h2>
      <ul>
        <% f.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.input :mythology_id, collection: @mythologies, label_method: :name, value_method: :id,
    input_html: { class: 'rounded', style: 'margin-left: 15px;' } %>
    <%= f.input :title,
    input_html: { class: 'rounded mt-5', style: 'margin-left: 49px;' } %>
    <%= f.hidden_field :body, input_placeholder: 'AI will generate this' %>
    <%= f.submit class: 'border font-bold py-2 px-4 rounded block mt-5' %>
  </div>
<% end %>
