<%= turbo_stream_from "stories" %>
<h1><%= @story.title %></h1>
<div id="<%= dom_id(@story) %>">
  <%= @story.content %>
</div>
<br>
<%= link_to "Delete", story_path(@story), data: { "turbo-method": :delete },
              class: "px-4 py-4 bg-green-500 hover:bg-green-700 rounded" %>
<%= link_to "Edit", edit_story_path(@story),
              class: "px-4 py-4 pt-4 bg-green-500 hover:bg-green-700 rounded" %>