<%= form.hidden_field :id %>
<div>
  <%= form.label :god_id, style: "display: block" %>
  <%= form.text_field :god_id %>
  <%= form.label :role, style: "display: block" %>
  <%= form.text_field :role %>
</div>
